:80 {
    handle /tasks* {
        reverse_proxy tasks:8081
    }
    handle /spotify* {
        reverse_proxy spotify:8083
    }
    handle /weather* {
        reverse_proxy weather:8082
    }
    handle /photos* {
        reverse_proxy photos:8084
    }
    handle /rss* {
        reverse_proxy rss:8085
    }
    handle /calendar/google* {
        reverse_proxy calendar:8087
    }
    handle /calendar/items* {
        reverse_proxy calendar:8087
    }
    handle /quote* {
        reverse_proxy quote:8086
    }
    handle /birds* {
        reverse_proxy birds:8088
    }
    handle {
        reverse_proxy frontend:3000
    }
}
