# Create an app on Spotfy by visiting here: https://developer.spotify.com
SPOTIFY_CLIENT_ID=                                                                                                                                                                              
SPOTIFY_CLIENT_SECRET=                                                                                                                                                                                       
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8083/spotify/callback  
